.container{
    height: 12vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns:repeat(3,1fr);
}

.icon{
    width: 100%;
    color:grey;
    font-size:0.1rem;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.container p{
    margin-top:0.5vh;
}

.link{
    text-decoration: none;
    display: grid;
    
}
